
  :root {
    --color-red: #ec1840;
    --color-purple: #7a18ec;
    --color-white: #fff;
    --color-black-1: #111;
    --color-black-2: #222;
    --color-black-3: #444;
    --speed-normal: 0.5s;
    --speed-fast: 0.8s;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #060505;
  }
  .button {
   position: relative;
    width: 180px;
    height: 60px;
    margin: 20px;
    line-height: 60px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
     overflow: hidden;
    color: var(--color-white);
    trasnition: var(--speed-normal);
    border: 1px solid #000000;
}
  
.button:hover {
    border: 1px solid transparent;
    font-style: italic;

    span {
        position: absolute;
        display: block;

        &:nth-child(1) {
        filter: hue-rotate(0deg);
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--color-purple);
        animation: animate1 1s linear infinite;
        }
        @keyframes animate1 {
        0% {
            left: -100%;
        }
        50%,
        100% {
            left: 100%;
        }
        }

        &:nth-child(2) {
        filter: hue-rotate(0deg);
        top: -100%;
        right: 0;
        width: 1px;
        height: 100%;
        background: var(--color-purple);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
        }

        @keyframes animate2 {
        0% {
            top: -100%;
        }
        50%,
        100% {
            top: 100%;
        }
        }
        &:nth-child(3) {
        filter: hue-rotate(0deg);
        bottom: 0;
        right: 0;
        width: 100%;
        background: var(--color-purple);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s;
        }
        @keyframes animate3 {
        0% {
            right: -100%;
            height: 1px;
        }
        50%,
        100% {
            height: 1px;
            right: 100%;
        }
        }

        &:nth-child(4) {
        filter: hue-rotate(0deg);
        bottom: -100%;
        left: 0;
        width: 1px;
        height: 100%;
        background: var(--color-purple);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
        }
        @keyframes animate4 {
            0% {
                bottom: -100%;
            }
            50%,
            100% {
                bottom: 100%;
            }
        }
    }
  }
  